<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/infinitygamesaccueil/css/style.css') }}" type="text/css" media="all" />
		{% endblock %}
        <title>{% block title %}Infinity Games{% endblock %}</title>
    </head>
    <body>