		<footer id="footer_page">
			<div class="container">	      
				<div class="span12">
					<div class="span3 col_footer">
						<div class='row titre_footer'>Infinity</div>
						<div class='row ' ><a href="">FAQ</a></div>
						<div class='row'><a href="">Crédits</a></div>
						<div class='row'><a href="{{ path('infinity_games_infinity_contact') }}">Contact<i class="icon-envelope icon-white"></i></a></div>
					</div>
					<div class="span3 col_footer">
						<div class='row titre_footer'>Développeur</div>
						<div class='row'><a href="">API</a></div>
						<div class='row'><a href="{{ path('jeu_catalogue') }}">Forum</a></div>
						<div class='row'><a href="">Télécharger<i class="icon-download icon-white"></i></a></div>
					</div>
					<div class="span3 col_footer pull-right">
						<div class='row titre_footer'>Jeux</div>
						<div class='row'><a href="">Nouveautés<i class="icon-star-empty icon-white"></i></a></div>
						<div class='row'><a href="">Tous les jeux</a></div>
						<div class='row'><a href="">Mode de jeux</a></div>
					</div>
					<div class="span3 col_footer pull-right">
						<div class='row titre_footer'>Social</div>
						<div class='row'><a href="">Facebook</a></div>
						<div class='row'><a href="">Twitter</a></div>
						<div class='row'><a href="">Google+</a></div>
					</div>
				</div>
				<div class="row" id="legal_row">
					<span><a href="">Mentions légales - </a></span>
					<span><a href="">&copy InfinityGames 2012</a></span>
				</div>                	           
			</div>
		</footer>
	</body>
</html>
{% for flashMessage in app.session.flashbag.get('notice') %}
	<script>alert("  {{ flashMessage }}")</script>				    
{% endfor %}