{% include "::administration/header_admin.html.twig" %}
<div id="wrap">
	<div class="container">

		{% block content_page %}
        
        {% endblock %}
     </div>
     <div id="push"></div>
</div>
{% include "::administration/footer_admin.html.twig" %}
