{% extends "::layout.html.twig" %}
{% block contenu_page %}
	<!-- affichage des diff type d'item -->
	<div class="row">
		{% for type in typeItem %}
			<div class="row span12">
				<span class="titre_categorie_store">{{ type.intitule }}</span>
				{% for ssType in sousType %}
					{% if ssType.idParent == type %}
					<div class="row span12">
						<span class="titre_sous_categorie_store">{{ ssType.intitule }}</span>
						{% for obj in listObj %}
							{% if obj.typeItem == ssType %}
								<div class="row">
									{{ obj.intitule }}
								</div>
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}