<h1>Commande creation</h1>

<form action="{{ path('commande_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('commande') }}">
            Back to the list
        </a>
    </li>
</ul>
