{#Inclusion du layout général de la page. Il est dans app/Ressources/views Il va nous permettre de récupérer sur chaque page un header 
- footer etc. #}
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block contenu_page %}
	<h2>Inscription</h2>
	<div id="form_inscription" class="div_center">
		<form method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			
				<input id="btn_send_inscription" type="submit" value="Valider"/>
			
		</form>
	</div>
{% endblock %}
