{% extends "::layout.html.twig" %}
	{% block contenu_page %}
		{% if app.user.username is defined %}
			<div id="">
				<h1>Récapitulatif de votre panier</h1>
					{% for obj in panier %}
						<div class="row">
							<div class="span2">{{ obj.nom }}</div>
							<div class="span2">{{ obj.qtt }}</div>
							<div class="span2">{{ obj.prixHT }}</div>
	
							<div class="btn"><a href="{{ path('infinity_games_infinity_supprimer_produit',{ 'id': obj.id}) }}">Supprimer</a></div>
	<!-- exemple form Paypal a remanier en objet -->
	<!-- pour la production
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	-->
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	
	<input type='hidden' value="<?echo MontantGlobal()?>" name="amount" />
	<input name="currency_code" type="hidden" value="EUR" />
	<input name="shipping" type="hidden" value="0.00" />
	<input name="tax" type="hidden" value="0.00" />
	<input name="return" type="hidden" value="http://www.thomas-chauvet.com/shop/paiement_valide.php" />
	<input name="cancel_return" type="hidden" value="http://www.thomas-chauvet.com/shop/paiement_annule.php" />
	<input name="notify_url" type="hidden" value="http://www.thomas-chauvet.com/shop/verif_paiement.php" />
	<input name="cmd" type="hidden" value="_xclick" />
	<input name="business" type="hidden" value="bob_1341932645_biz@gmail.com" />
	<input name="item_name" type="hidden" value="<?echo $num_commande?>" />
	<input name="no_note" type="hidden" value="1" />
	<input name="lc" type="hidden" value="FR" />
	<input name="bn" type="hidden" value="PP-BuyNowBF" />
	<input name="custom" type="hidden" value="<?echo $_SESSION['identifiant']?>" />
	<input alt="Effectuez vos paiements via PayPal : une solution rapide, gratuite et sécurisée" name="submit" src="https://www.paypal.com/fr_FR/FR/i/btn/btn_buynow_LG.gif" type="image" /><img src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" border="0" alt="" width="1" height="1" />
	</form>
	
	<!-- endform Paypal -->
						</div>
					{% endfor %}
			</div>	
		{% else  %}
			<div class="">Vous devez vous connecter pour aller plus loin.</div>
			<div class="btn"><a href="#>S'enregistrer</a></div>
			<div class="btn"><a href="#">S'inscire</a></div>
		{% endif %}
		
	{% endblock %}
